.todoList {
/*   width: 94vw; */
  margin: 1rem 0;
  display: grid;
  grid-template-rows: repeat(auto-fill, 14rem);
  row-gap: 0.65rem;
  grid-template-columns: repeat(3, 31.5rem);
  justify-content: space-between;
}

.todo {
  min-height: 9rem;
  height: 14rem;
  background: var(--bg-primary);
  display: grid;
  grid-template-rows: 1.6rem 4.5rem 2.5rem 3rem;
  row-gap: 0.5rem;
}

.todo__title {
  text-align: center;
  background: var(--bg-secondary);
  padding: 0.1rem 0;
}

.todo__details {
  text-align: center;
  height: 4.5rem;
  overflow: auto;
}

.todo__details::-webkit-scrollbar {
  width: 0.25rem;
}

.todo__details::-webkit-scrollbar-track {
  background: #1e1e24;
}

.todo__details::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.state {
  margin-top: 0.1rem;
  border: none;
  border-radius: 80px 80px 80px 80px / 75px 75px 75px 75px;
  outline: none;
  color: #fff;
  height: 35px;
  width: 100px;
  cursor: pointer;
  justify-self: center;
}

.false {
  background: radial-gradient(circle, rgb(71, 4, 15) 0%, rgb(182, 33, 33) 50%, rgb(255, 0, 0) 100%);
}

.true {
  background: radial-gradient(circle, rgb(10, 71, 4) 0%, rgb(53, 143, 17) 50%, rgb(4, 207, 4) 100%);
}

.todo__footer {
  width: 30rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.timeStamp{
  margin-left: 1rem;
  font-size: 12px;
  align-self: center;
}

.delete-icon {
  cursor: pointer;
  justify-self: end;
}

.delete-icon:hover{
  color: rgb(185, 26, 26);
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  .todoComponentContainer{
    width: 100%;
    justify-self: center;
  }

  .todoList {
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 6rem;
    padding: 0 1rem;
  }

  .todo {
    width: 100%;
    grid-template-columns: 100%;
  }

  .todo__footer {
    width: 100%;
    grid-template-columns: 50% 50%;
  }
}

/* @media only screen and (max-width: 400px) {
  .todo {
    width: 21.5rem;
    grid-template-columns: 21.5rem;
  }

  .todo__footer {
    grid-template-columns: 50% 50%;
  }
} */
