.todoList {
  width: 94vw;
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, 11rem);
  row-gap: 0.65rem;
  grid-template-columns: repeat(3, 31.5rem);
  justify-content: space-between;
}

.todo {
  min-height: 9rem;
  max-height: 11rem;
  background: var(--bg-primary);
  padding: 0.5rem 0.7rem;
  border: 1px solid white;
}

.todo__details {
  height: 4.5rem;
  overflow: auto;
}

.todo__details::-webkit-scrollbar {
  width: 0.25rem;
}

.todo__details::-webkit-scrollbar-track {
  background: #1e1e24;
}

.todo__details::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.state {
  margin-top: 0.1rem;
  border: none;
  border-radius: 80px 80px 80px 80px / 75px 75px 75px 75px;
  outline: none;
  color: #fff;
  height: 35px;
  width: 100px;
  cursor: pointer;
}

.false {
  background: radial-gradient(circle, rgb(71, 4, 15) 0%, rgb(182, 33, 33) 50%, rgb(255, 0, 0) 100%);
}

.true {
  background: radial-gradient(circle, rgb(10, 71, 4) 0%, rgb(53, 143, 17) 50%, rgb(4, 207, 4) 100%);
}

.timeStamp{
  font-size: 12px;
  margin-top: 0.8rem;
}
