<div class="createTodo">
  <div class="title">
    <h3>Add Todo</h3>
  </div>
  <form #todoForm="ngForm" class="form">
    <div class="todo-title fields">
      <legend>Todo title</legend>
      <div class="input-container">
        <input type="text" placeholder="Title" name="title" ngModel required class="input title-input"/>
      </div>
    </div>
    <div class="details fields">
      <legend>Todo details</legend>
      <div class="input-container">
        <textarea placeholder="Details (Optional)" name="details" ngModel required class="input details-input"></textarea>
      </div>
    </div>
    <div class="error">
      <span>{{msgErrors}}</span>
    </div>
    <div class="buttons fields">
      <input type="button" value="Submit" (click)="onValidate(todoForm)" class="button submit-button"/>
      <input type="reset" value="Reset" (click)="reset()" class="button reset-button"/>
    </div>
  </form>
</div>
